.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    align-self: start;
    justify-self: end;
    /* display: grid;
    grid-template-columns: repeat(2, 0.21fr);
    gap: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  */
}